[CENTER][COLOR="DarkSlateBlue"][SIZE="6"][B]$dong1$[/B][/SIZE][/COLOR]
[FONT="Times New Roman"][SIZE="6"][COLOR="Purple"]$dong2$[/COLOR][/SIZE][/FONT]
[COLOR="Silver"][SIZE="3"]----o0o----[/SIZE][/COLOR]
[SIZE="4"][COLOR="royalblue"]$dong3$[/COLOR][/SIZE]
[SIZE="4"]Converter: [COLOR="darkstatedblue"][URL="http://www.tangthuvien.com/forum/member.php?u=123381"] [COLOR="SeaGreen"]trang4mat[/COLOR][/URL][/SIZE][/COLOR]
[I][COLOR="#F8F8F8"]Thời gian: $thoiGian$[/COLOR][/I]
[/CENTER]